div{

    box-shadow: none;
}
p{
    font-size: 120%;
}
img{
    width: 150px;
    height: 150px;
}
.grid-superior{
    display: grid;
    grid-template-columns: 30% 70%;

}

.grid-botones{
    display: grid;
    grid-template-columns: auto auto ;
    text-align: center;
}

.grid-digitos{
    max-width: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
a{
    margin: 10px;
    width: 200px;
    margin-right: 10px;
}
.izq{
    
    padding-left: 5px;
    text-align: left;
    border-bottom-right-radius:0 ;
}
.der{
    border-top-left-radius: 0;
    padding-right: 5px;
    text-align: right;
}

.digito{
    
    width: 15px;
    font-size: 20px;
    
    border-bottom-left-radius:20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;

    
    
}

.caja{
    
    margin-top:30px;
    display: flex;
    flex-direction: column;

}

.caja-digito{

    margin: 0;
    
}

#derecha{
    align-items:flex-end;
    

}
.div-superior{
    text-align: left;
    margin: 0;

}
